<div class="w-full flex flex-row justify-center m-16">
  <%= image_tag "/#{@issue.image_url}" %>
</div>

<div class="w-full flex flex-row justify-center m-16">
  <div class="w-1/2 flex flex-row justify-between">
    <%= link_to image_tag("/left.png"), "/issues/#{@issue.previous_issue}" %>
    <%= link_to image_tag("/right.png"), "/issues/#{@issue.next_issue}" %>
  </div>
</div>
