<div class="flex flex-row justify-center">
  <div class="w-1/2">
    <div>
      <h1> Comic Issues </h1>

      <% @issues.each do |issue| %>
        <div class="flex row justify-around items-center m-4">
          <div class="w-1/4"> <%= image_tag(issue.image_url, style: 'height:100px;width:100px;') %> </div>
          <div class="w-1/4 text-3xl"> <%= issue.name %> </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
