<nav>
  <div class="flex row justify-between bg-slate-950 text-white font-bold gap-8 px-8 py-2 shadow-md shadow-black">
    <div class="flex row items-center gap-4">
      <!-- logo -->

      <!-- <%= image_tag("3rd_eye_smiley.png", style: 'height:40px;width:40px;') %> -->

      <!-- title / brand -->
      <h1 class="text-3xl mr-4">Bitspace Studio</h1>

      <!-- navigation -->
      <span> Services    </span>
      <span> Store       </span>
      <span> <a href="https://my-portfolio-sooty-one-83.vercel.app/">Portfolio</a> </span>
    </div>

    <!-- user menu -->
  </div>
</nav>
