<nav>
  <div class="flex row justify-between bg-slate-950 text-white font-bold gap-8 px-8 py-2 shadow-md shadow-black">
    <div class="flex row items-center gap-4">
      <!-- logo -->
      <%= image_tag("3rd_eye_smiley.png", style: 'height:40px;width:40px;') %>

      <!-- title / brand -->
      <h1 class="text-3xl mr-4">MocInk</h1>

      <!-- navigation -->
      <span> Services    </span>
      <span> Store       </span>
      <%= link_to "Comic", "/comics" %>
      <span> Team        </span>
    </div>

    <!-- user menu -->
    <div class="flex row items-center gap-4">

      <!-- avatar -->
      <div class="flex row justify-center items-center size-8 rounded-full bg-gray-800 ring-1 ring-white">
        <span>Z</span>
      </div>

      <div class="flex row items-center gap-2">
        <% if rodauth.logged_in? %>
          <span> <%= current_account.email %> </span>
        <% else %>
          <a href="<%= rodauth.login_path %>"><span> Login </span> </a>
        <% end %>

        <!-- drop down carrot -->
        <svg class="-mr-1 size-6 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>

    </div>
  </div>
</nav>
